@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #f0f0f0;
    font-family: poppins, sans-serif;
    display: flex;
    flex-direction: column;
    animation: blurFadeIn 1s cubic-bezier(.4,0,.2,1);
}

header {
    border-bottom: 1px solid #ffffff;
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    width: 60px;
    height: auto;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    
}

.navbar ul li a {
    color: white;
    font-size: 1.2rem;
}

.navbar ul li a:hover {
    color: blueviolet;
}

.icons-header {
    font-size: 1.6rem;
    display: flex;
    gap: 10px;
}

.icons-header a {
    color: white;
}

.navbar ul .now {
    font-weight: bolder;
    color: blueviolet;
}

.icons-header a:hover {
    color: blueviolet;
}

main {
    background-image: url(/img/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 40px;
}

.nav-container {
    background: transparent;
    margin: 10px;
    padding: 15px 0px;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255);
}

.nav-container a {
    color: white;
    padding: 0 18px;
    position: relative;
    font-size: 1.1rem;
    background: none;
    border: none;
}

.nav-container a:not(:last-child)::after {
    content: "|";
    color: white;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.1em;
}

.nav-container a:hover {
    color: blueviolet;
}

.section-container {
    box-sizing: border-box;
    width: 100%;
    max-width: 1100px;
    flex: 1 0 auto;
    margin-top: 60px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    padding: 30px;
    color: white;
}

.section-container h2 {
    font-size: 2.5rem;
    text-align: left;
    margin-bottom: 30px;
    border-bottom: 2px solid rgb(255, 255, 255);
    padding-bottom: 10px;
}

.section-container p {
    margin-top: 45px;
    font-size: 2rem;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 30px;
}



.productos {
    display: flex;
    flex-wrap: wrap;          
    justify-content: center;   
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.08);
    padding: 15px;
    border-radius: 15px;
    width: 100%;           
    box-sizing: border-box;
}

.item-img {
    margin: 0 10px;
    width: 160px;
    max-width: 100%;          
    height: 320px;
    background-color: #bbb;
    border-radius: 10px;
    flex-shrink: 0;
}

footer {
    border-top: 1px solid #ffffff;
    background: black;
    color: white;
    flex-shrink: 0;
    text-align: center;
    padding: 20px 10px;
    display: flex;
    justify-content: space-around;
}

.left-icons-footer {
    display: flex;
    align-items: center;
}

.left-icons-footer a {
    color: white;
    font-size: 1.5rem;
    margin: 0 10px;
}

.right-icons-footer {
    display: flex;
    align-items: center;
}

.right-icons-footer a {
    color: white;
    font-size: 1.5rem;
    margin: 0 10px;
}

.right-icons-footer a:hover {
    color: blueviolet;
}

.left-icons-footer a:hover {
    color: blueviolet;
}

.footer-parrafo {
    font-size: 1.2rem;
    color: white;
}

@keyframes blurFadeIn {
    from {
        opacity: 0;
        filter: blur(8px);
        transform: scale(0.98);
    }
    to {
        opacity: 1;
        filter: blur(0);
        transform: scale(1);
    }
}
